= content_tag defined?(tag_type) ? tag_type : :div, class: 'comment' do
  = link_to "▲", upvote_comment_url(comment), class: 'upvote', method: :post
  %div
    %span.statusline
      = statusline comment
      |
      = link_to 'link', comment
    %br
    = comment.body 

