= content_tag defined?(tag_type) ? tag_type : :div, class: 'story' do
  = link_to "▲", upvote_story_url(story), class: 'upvote', method: :post
  %div
    .title
      = link_to story.title, story.url
      %span.link-domain (#{story.url_domain})
    .metadata
      = statusline story
      |
      = link_to 'comments', story, class: 'comments-link'

