%p#notice= notice

= render partial: 'story', locals: { story: @story }

= form_for [@story, Comment.new] do |f|
  = f.text_area :body
  = f.submit "add comment"

%ul.comments
  - @story.comments.each do |comment|
    %li.comment= comment.body 
