!!!
%html
  %head
    %title Hackernews
    = stylesheet_link_tag    "screen", :media => "all"
    = stylesheet_link_tag    "print", media: "print"
    /[if IE]
      = stylesheet_link_tag  "ie", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header
      %h1 Hacker News

    %section#content
      #flash
        - flash.each do |type, message|
          %p{ class: type }= message

      = yield

